<<<<<<< HEAD
#my3dspace
{
	-webkit-perspective: 800;
	perspective: 800;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;

	overflow: hidden;
}
#pagegroup
{
	width: 400px;
	height: 400px;
	margin: 0 auto;

	-webkit-transform-style:preserve-3d;

	position: relative;
}
.page
{
	width: 360px;
	height: 360px;
	padding: 20px;
	line-height: 360px;
	background: black;

	font-size: 360px;
	font-weight: bold;
	text-align: center;
	color: white;

	position: absolute;
}
#page1
{
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transition: -webkit-transform 1s linear;
}
#page2,#page3,#page4,#page5,#page6
{
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transition: -webkit-transform 1s linear;
	-webkit-transform:rotateX(90deg);
}

#op
{
	width: 80px;
	margin: 0 auto;
}
#op a
{
	margin-right: 20px;
=======
#my3dspace
{
	-webkit-perspective: 800;
	perspective: 800;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;

	overflow: hidden;
}
#pagegroup
{
	width: 400px;
	height: 400px;
	margin: 0 auto;

	-webkit-transform-style:preserve-3d;

	position: relative;
}
.page
{
	width: 360px;
	height: 360px;
	padding: 20px;
	line-height: 360px;
	background: black;

	font-size: 360px;
	font-weight: bold;
	text-align: center;
	color: white;

	position: absolute;
}
#page1
{
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transition: -webkit-transform 1s linear;
}
#page2,#page3,#page4,#page5,#page6
{
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transition: -webkit-transform 1s linear;
	-webkit-transform:rotateX(90deg);
}

#op
{
	width: 80px;
	margin: 0 auto;
}
#op a
{
	margin-right: 20px;
>>>>>>> 2ec686c41f29bf4e57ac6c56e2c9679573fbf228
}