<<<<<<< HEAD
*
{
	margin: 0;
	padding: 0;
}
#main
{
	position: relative;
}
.box
{
	padding: 15px 0 0 15px;
	float: left;
}
.pic
{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
}
.pic img
{
	width: 165px;
=======
*
{
	margin: 0;
	padding: 0;
}
#main
{
	position: relative;
}
.box
{
	padding: 15px 0 0 15px;
	float: left;
}
.pic
{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
}
.pic img
{
	width: 165px;
>>>>>>> 2ec686c41f29bf4e57ac6c56e2c9679573fbf228
}